{{input value=searchVal}}

{{type-ahead
    id="typeahead-id"
    content=model
    displayKey="name"
    valueToken="name"
    placeholder="Search by name"
    class="form-control"
    selectOnEnter=true
    suggestionTemplate=suggestionTemplate
    emptyTemplate=emptyTemplate
    limit=numberofresultstodisplay
    onSelectAction="ActionToRunOnSelect"
    onclick=(route-action 'search')
  }}

<button onclick={{route-action 'search' searchVal}} >Search</button>

{{#each model as |movie|}}
  {{movie.title}}
{{/each}}

{{outlet}}
